.container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    left: 0;
    right: 0;
    .form {
        padding: 30px 30px;
        border-radius: 20px;
        background-color: #0a0a0a58;
    
        .tab-label {
            color: whitesmoke;
            font-size: 30px;
            font-weight: 700;
        }
    
        .input {
            width: 300px;
        }

        :global(.ant-tabs-ink-bar){
            background-color: #4158D0;
            background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 3%, #FFCC70 99%);
        }
        :global(.ant-tabs-content){
            height: 100%;
        }
        :global(.ant-tabs-tabpane){
            height: 100%;
        }
        :global(.ant-input-disabled){
            color: white;
        }
    }

    .loading {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 50px;
        color: white;
    }
}

.option {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    span {
        color: white;
        &:hover {
            color: #C850C0;
            cursor: pointer;
        }
    }
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding: 10px 0;
    border-radius: 20px;
    height: 40px;
    &:hover {
        cursor: pointer;
        background-color: #C850C0;
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 3%, #FFCC70 99%);
    }
}

.input-label {
    color: white;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    .show-hide{
        color: rgba(255, 255, 255, 0.325);
        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}

.sign-in-with {
    position: absolute;
    bottom: 0;
    width: 100%;
    .text {
        color: white;
        text-align: center;
    }

    .button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .loading {
            color: white;
            font-size: 40px;
        }
    }
}